.animation {
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  animation: scaling 2s;

  -moz-animation-name: scaling;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1s;

  -webkit-animation-name: scaling;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
}

@keyframes scaling {
  from {
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
    -o-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
  }
}
@-moz-keyframes scaling {
  0% { -moz-transform: scale(1); }
  100% { -moz-transform: scale(.01); }
}
@-webkit-keyframes scaling {
  0% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(.01); }
}
