/* Radius auto */
.radiusauto {
  animation: radiusauto 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: radiusauto;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
}
@keyframes radiusauto {
  from { border-radius: 1em; }
  50% { border-radius: 3em; }
  to { border-radius: 1em; }
}
@-webkit-keyframes radiusauto {
  0% { border-radius: 1em; }
  50% { border-radius: 3em; }
  100% { border-radius: 1em; }
}

.radius2auto {
  animation: radius2auto 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: radius2auto;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
}
@keyframes radius2auto {
  from { border-radius: 5em 0px; }
  50% { border-radius: 0px 5em; }
  to { border-radius: 5em 0px; }
}
@-webkit-keyframes radius2auto {
  0% { border-radius: 5em 0px; }
  50% { border-radius: 0px 5em; }
  100% { border-radius: 5em 0px; }
}

/* Scaling Auto */
.scalingauto {
  animation: scalingauto 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: scalingauto;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
}
@keyframes scalingauto {
  from {
    -moz-transform: scale(.01);
    -o-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
  }
  50% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
	-moz-transform: scale(.01);
    -o-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
	}
}
@-webkit-keyframes scalingauto {
  0% { -webkit-transform: scale(.01); }
  50% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(.01); }
}

/* Reduction Auto */
.reductionauto {
  animation: reductionauto 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: reductionauto;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
}
@keyframes reductionauto {
  from {
	-moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
	-moz-transform: scale(.01);
    -o-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
  }
  to {
	-moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes reductionauto {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(.01); }
  100% { -webkit-transform: scale(1); }
}

/* Skew Auto */
.skewauto {
  animation: skewauto 4s;
  animation-iteration-count: infinite;
  -webkit-animation-name: skewauto;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
}
@keyframes skewauto {
  from {
   -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
	transform: skew(0deg);
  }
  50% {
	-moz-transform: skew(180deg);
    -o-transform: skew(180deg);
    -ms-transform: skew(180deg);
    transform: skew(180deg);
  }
  to{
   -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
	transform: skew(0deg);
  }
}
@-webkit-keyframes skewauto {
  0% { -webkit-transform: skew(0deg); }
  50% { -webkit-transform: skew(180deg); }
  100% { -webkit-transform: skew(0deg); }
}

/* Images blur */
.blur {
  -webkit-animation-name: blur;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
}
@-webkit-keyframes blur {
  0% { -webkit-filter: blur(10px); }
  50% { -webkit-filter: blur(0px); }
  100% { -webkit-filter: blur(10px); }
}

/* Hue Rotate */
.hue_rotate {
  -webkit-animation-name: hue_rotate;
  -webkit-animation-iteration-count: once;
  -webkit-animation-duration: 6s;
}
@-webkit-keyframes hue_rotate {
  0% { -webkit-filter: hue-rotate(0deg);}
  50% { -webkit-filter: hue-rotate(360deg); }
  100% { -webkit-filter: hue-rotate(0deg); }
}