* {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* Border-Radius*/
.radius { border-radius: 1em; }
.radius:hover { border-radius: 3em; }

.radius2 { border-radius: 5em 0px; }
.radius2:hover { border-radius: 0px 5em; }

/* Scaling */
.scaling {
  animation: scaling 2s;
  -webkit-animation-name: scaling;
  -webkit-animation-iteration-count: once;
  -webkit-animation-duration: 2s;
}
@keyframes scaling {
  from {
	-moz-transform: scale(.01);
    -o-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
  }
  to {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scaling {
  0% { -webkit-transform: scale(.01); }
  100% { -webkit-transform: scale(1); }
}

/* Reduction */
.reduction {
  animation: reduction 1s;
  -webkit-animation-name: reduction;
  -webkit-animation-iteration-count: once;
  -webkit-animation-duration: 1s;
}
@keyframes reduction {
  from {
	-moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
	-moz-transform: scale(.01);
    -o-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
  }
}
@-webkit-keyframes reduction {
  0% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(.01); }
}

/* Skew */
.skew {
  animation: skew 2s;
  -webkit-animation-name: skew;
  -webkit-animation-iteration-count: once;
  -webkit-animation-duration: 2s;
}
@keyframes skew {
  from {
   -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
	transform: skew(0deg);
  }
  to {
	-moz-transform: skew(180deg);
    -o-transform: skew(180deg);
    -ms-transform: skew(180deg);
    transform: skew(180deg);
  }
}
@-webkit-keyframes skew {
  0% { -webkit-transform: skew(0deg); }
  100% { -webkit-transform: skew(180deg); }
}

/* Images blur */
.blur {
  -webkit-animation-name: blur;
  -webkit-animation-iteration-count: once;
  -webkit-animation-duration: 3s;
}
@-webkit-keyframes blur {
  0% { -webkit-filter: blur(10px); }
  100% { -webkit-filter: blur(0px); }
}

/* Hue Rotate */
.hue_rotate {
  -webkit-animation-name: hue_rotate;
  -webkit-animation-iteration-count: once;
  -webkit-animation-duration: 6s;
}
@-webkit-keyframes hue_rotate {
  0% { -webkit-filter: hue-rotate(0deg);}
  100% { -webkit-filter: hue-rotate(360deg); }
}
