/* Border-Radius*/
.radius, .radius:hover, .radius2, .radius2:hover {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.radius { border-radius: 1em; }
.radius:hover { border-radius: 3em; }

.radius2 { border-radius: 5em 0px; }
.radius2:hover { border-radius: 0px 5em; }

/* Scaling */
.scaling {
  animation: scaling 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: scaling;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@keyframes scaling {
  from {
	-moz-transform: scale(.01);
    -o-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
  }
  to {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scaling {
  0% { -webkit-transform: scale(.01); }
  100% { -webkit-transform: scale(1); }
}

/* Reduction */
.reduction {
  animation: reduction 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: reduction;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@keyframes reduction {
  from {
	-moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
	-moz-transform: scale(.01);
    -o-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
  }
}
@-webkit-keyframes reduction {
  0% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(.01); }
}

/* Skew */
.skew {
  animation: skew 3s;
  animation-iteration-count: infinite;
  -webkit-animation-name: skew;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
@keyframes skew {
  from {
   -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
	transform: skew(0deg);
  }
  to {
	-moz-transform: skew(180deg);
    -o-transform: skew(180deg);
    -ms-transform: skew(180deg);
    transform: skew(180deg);
  }
}
@-webkit-keyframes skew {
  0% { -webkit-transform: skew(0deg); }
  100% { -webkit-transform: skew(180deg); }
}

/* Blur */
.blur {
  -webkit-animation-name: blur;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes blur {
  0% { -webkit-filter: blur(10px); }
  100% { -webkit-filter: blur(0px); }
}

/* Hue Rotate */
.hue_rotate {
  -webkit-animation-name: hue_rotate;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes hue_rotate {
  0% { -webkit-filter: hue-rotate(0deg);}
  100% { -webkit-filter: hue-rotate(360deg); }
}

/* Appear */
.appear {
  animation: appear 2s;
  animation-iteration-count: infinite;  
  -webkit-animation-name: appear;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@keyframes appear {
  from { opacity:0.1; }
  50% { opacity: 0.3; }
  to { opacity: 1; }
}
@-webkit-keyframes appear {
  0% { opacity: 0.1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

/* Enlarge */
.enlarge, .enlarge * {
  animation: enlarge 2s;
  animation-iteration-count: infinite;  
  -webkit-animation-name: enlarge;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@keyframes enlarge {
  from {
    opacity: 0.1;
    width: 0;
    height: 0;
	font-size: 2px; }
  to { opacity: 1; }
}
@-webkit-keyframes enlarge {
  0% { opacity: 0.1;
    width: 0;
    height: 0;
	font-size: 2px; }
  100% { opacity: 1; }
}

/* Target */
.target, .target:hover {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.target:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 5px 5px 5px #888;
}

/* ShowOver */
.showoverbox, .showoverbox:hover, .showover, showover:hover {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.showoverbox {
  height: 420px;
  width: 275px;
}

.showover {
  margin: auto;
  border: 10px solid #ededed;
  padding: 10px 0px 0px 0px;
  width: 100%;
}

.showover div {
  width: 100%;
  height: 100%;
}

@media (min-width:801px) {
  .showover {
    overflow: hidden;
    height: 235px;
    opacity: 0.5;
  }
  
  .showover:hover {
    height: 320px;
    opacity: 1; 
  }
}

/* Show */
.show, .show * {
  animation: show 2s;
  animation-iteration-count: infinite;  
  -webkit-animation-name: show;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@keyframes show {
  from { opacity: 0.1; width: 0; font-size: 1px;}
  30% { font-size: 1px; }
  to { opacity: 1; }
}
@-webkit-keyframes show {
  0% { opacity: 0.1; width: 0; }
  30% { font-size: 1px; }
  100% { opacity: 1; }
}

/* Presentation */
.presentation {
	height: 100px;
	width: 100%;
	margin: 0 auto;
}
.presentation .presentationbox {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background-color: #33a6e7;
	font-size: 40px;
	color: #FFF;
	text-align: center;
	line-height: 100px;
	margin: 0 auto;
	top: 0;
	position: relative;
	-webkit-animation-name: presentation;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-name: presentation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes presentation {
	0% {
		padding: 0;
		background-color:rgba(60,60,60,0);
		height:0px;
		width:0px;
		border-radius:10px;
		font-size:0px;
		color:#FFF;
		top:50px;
	}
	15% {
		height:1px;
		width:10px;
		border-radius:10px;
		background-color:rgba(60,60,60,4);
	}
	25% {
		height:1px;
		width:100%;
		top:50px;
	}
	40% {
		height:100%;
		top:0;
		background-color:rgba(60,60,60,1);
	}
	60% {
		background-color:rgba(0,136,204,1);
		font-size:0px;
	}
	70% {
		font-size:40px;
	}
	100% {
		background-color: #33a6e7;
	}
}
@keyframes presentation {
	0% {
		padding: 0;
		background-color:rgba(60,60,60,0);
		height:0px;
		width:0px;
		border-radius:10px;
		font-size:0px;
		color:#FFF;
		top:50px;
	}
	15% {
		height:1px;
		width:10px;
		border-radius:10px;
		background-color:rgba(60,60,60,4);
	}
	25% {
		height:1px;
		width:100%;
		top:50px;
	}
	40% {
		height:100%;
		top:0;
		background-color:rgba(60,60,60,1);
	}
	60% {
		background-color:rgba(0,136,204,1);
		font-size:0px;
	}
	70% {
		font-size:40px;
	}
	100% {
		background-color: #33a6e7;
	}
}

.presentationx {
	height: 100px;
	width: 100%;
	margin: 0 auto;
}
.presentationx .presentationboxx {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background-color: #33a6e7;
	font-size: 10px;
	color: #FFF;
	text-align: center;
	margin: 0 auto;
	top: 0;
	position: relative;
	-webkit-animation-name: presentationx;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-name: presentationx;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


@-webkit-keyframes presentationx {
	0% {
		padding: 0;
		background-color:rgba(60,60,60,0);
		height:0px;
		width:0px;
		border-radius:10px;
		font-size:10px;
		color:#FFF;
        top:50px;
	}
	15% {
		height:1px;
		width:10px;
		border-radius:10px;
		background-color:rgba(60,60,60,4);
	}
	25% {
		height:1px;
		width:100%;
        top:50px;
	}
	40% {
		height:100%;
		background-color:rgba(60,60,60,1);
        top:0;
	}
	60% {
		background-color:rgba(0,136,204,1);
		font-size:0px;
	}
	70% {
		font-size:10px;
	}
	100% {
		background-color: #33a6e7;
	}
}
@keyframes presentationx {
	0% {
		padding: 0;
		background-color:rgba(60,60,60,0);
		height:0px;
		width:0px;
		border-radius:10px;
		font-size:10px;
		color:#FFF;
        top:50px;
	}
	15% {
		height:1px;
		width:10px;
		border-radius:10px;
		background-color:rgba(60,60,60,4);
	}
	25% {
		height:1px;
		width:100%;
        top:50px;
	}
	40% {
		height:100%;
		background-color:rgba(60,60,60,1);
        top:0;
	}
	60% {
		background-color:rgba(0,136,204,1);
		font-size:0px;
	}
	70% {
		font-size:10px;
	}
	100% {
		background-color: #33a6e7;
	}
}

/* 3D Buttons */
.button3d, .button3d:hover {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.button3d:hover {
  -webkit-transform: rotateY(120deg);
  -o-transform: rotateY(120deg);
  -ms-transform: rotateY(120deg);
  transform: rotateY(75deg);
}
