.splash {
  background: linear-gradient(75deg, #2d94cf 0px, #33a6e7 15%, #38b7ff 96%, rgba(255,255,255,1) 100%) repeat scroll 0% 0% transparent;
  color: white;
}

.splash h1 { color: white; }

textarea {
  background-color: rgba(220,220,220,0.2);
  resize: none;
  border: none;
  overflow: auto;
  font-size: 15px;
}

.lightbord div div:nth-child(2) {
  width: 100%;
  height: 100px;
  padding: 20px 10px;
  border: 5px solid #ededed;  
}

.lightbord div:hover div:nth-child(2) { border: 5px solid #8fd6ff; cursor: pointer; }

.lightbord div div:nth-child(2) font
{
	font-size: 30px;
}
.lightbord div div:nth-child(2) {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}